<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ldv_advancedpermissions>
            <general>
                <module_enabled>1</module_enabled>
            </general>
        </ldv_advancedpermissions>
    </default>
</config>
