<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Category plugins-->
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Save">
        <plugin name="ldv_advancedpermissions_category_save" type="Ldv\AdvancedPermissions\Plugin\Category\SavePlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Add">
        <plugin name="ldv_advancedpermissions_category_add" type="Ldv\AdvancedPermissions\Plugin\Category\AddPlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Move">
        <plugin name="ldv_advancedpermissions_category_move" type="Ldv\AdvancedPermissions\Plugin\Category\MovePlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Edit">
        <plugin name="ldv_advancedpermissions_category_edit" type="Ldv\AdvancedPermissions\Plugin\Category\EditPlugin" disabled="true"/>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Delete">
        <plugin name="ldv_advancedpermissions_category_delete" type="Ldv\AdvancedPermissions\Plugin\Category\DeletePlugin" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category\Collection">
        <plugin name="ldv_advancedpermissions_category_collection_load_around" type="Ldv\AdvancedPermissions\Plugin\Category\FilterCategoryPlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Category\Index">
        <plugin name="ldv_advancedpermissions_category_index" type="Ldv\AdvancedPermissions\Plugin\Category\IndexPlugin" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="ldv_advancedpermissions_product_collection_load" type="Ldv\AdvancedPermissions\Plugin\Product\CollectionLoadPlugin" />
    </type>
    <preference for="Magento\Cms\Model\ResourceModel\Block\Collection" type="Ldv\AdvancedPermissions\Plugin\Cms\CollectionLoadPlugin" />
    <!--Product plugins-->
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Save">
        <plugin name="ldv_advancedpermissions_product_save" type="Ldv\AdvancedPermissions\Plugin\Product\SavePlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Edit">
        <plugin name="ldv_advancedpermissions_product_edit" type="Ldv\AdvancedPermissions\Plugin\Product\EditPlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\MassDelete">
        <plugin name="ldv_advancedpermissions_product_massdelete" type="Ldv\AdvancedPermissions\Plugin\Product\MassDeletePlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\MassStatus">
        <plugin name="ldv_advancedpermissions_product_massstatus" type="Ldv\AdvancedPermissions\Plugin\Product\MassStatusPlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\NewAction">
        <plugin name="ldv_advancedpermissions_product_newaction" type="Ldv\AdvancedPermissions\Plugin\Product\NewActionPlugin" />
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Edit">
        <plugin name="ldv_advancedpermissions_product_attribute_edit" type="Ldv\AdvancedPermissions\Plugin\Product\AttributeEditPlugin" />
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="categories" xsi:type="array">
                    <item name="class" xsi:type="string">Ldv\AdvancedPermissions\Preference\Product\DataProvider\CategoriesPreference</item>
                    <item name="sortOrder" xsi:type="number">60</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <!--Customer plugins-->
    <type name="Magento\Customer\Controller\Adminhtml\Index\NewAction">
        <plugin name="ldv_advancedpermissions_customer_newaction" type="Ldv\AdvancedPermissions\Plugin\Customer\NewActionPlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\Edit">
        <plugin name="ldv_advancedpermissions_customer_edit" type="Ldv\AdvancedPermissions\Plugin\Customer\EditPlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\Delete">
        <plugin name="ldv_advancedpermissions_customer_delete" type="Ldv\AdvancedPermissions\Plugin\Customer\DeletePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\MassDelete">
        <plugin name="ldv_advancedpermissions_customer_massdelete" type="Ldv\AdvancedPermissions\Plugin\Customer\MassDeletePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\Save">
        <plugin name="ldv_advancedpermissions_customer_save" type="Ldv\AdvancedPermissions\Plugin\Customer\SavePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\MassSubscribe">
        <plugin name="ldv_advancedpermissions_customer_masssubscribe" type="Ldv\AdvancedPermissions\Plugin\Customer\MassSubscribePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\MassUnsubscribe">
        <plugin name="ldv_advancedpermissions_customer_masssubscribe" type="Ldv\AdvancedPermissions\Plugin\Customer\MassUnsubscribePlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\MassAssignGroup">
        <plugin name="ldv_advancedpermissions_customer_massasssigngroup" type="Ldv\AdvancedPermissions\Plugin\Customer\MassAssignGroupPlugin" />
    </type>
    <type name="Magento\Customer\Controller\Adminhtml\Index\InlineEdit">
        <plugin name="ldv_advancedpermissions_customer_inlineedit" type="Ldv\AdvancedPermissions\Plugin\Customer\InlineEditPlugin" />
    </type>
    <type name="Magento\Customer\Model\ResourceModel\Grid\Collection">
        <plugin name="ldv_advancedpermissions_customer_grid_collection" type="Ldv\AdvancedPermissions\Plugin\Customer\CustomerGridCollectionPlugin" />
    </type>
    <type name="Magento\Customer\Model\ResourceModel\Online\Grid\Collection">
        <plugin name="ldv_advancedpermissions_customer_online_grid_collection" type="Ldv\AdvancedPermissions\Plugin\Customer\CustomerOnlineGridCollectionPlugin" />
    </type>
    <type name="Magento\Customer\Ui\Component\Listing\AttributeRepository">
        <plugin name="ldv_advancedpermissions_customer_grid_collection_filter_website" type="Ldv\AdvancedPermissions\Plugin\Customer\AfterGetAttributesListPlugin" />
    </type>
    <!--Role plugins-->
    <type name="Magento\User\Controller\Adminhtml\User\Role\EditRole">
        <plugin name="ldv_advancedpermissions_role_edit" type="Ldv\AdvancedPermissions\Plugin\Role\EditRoleAroundPlugin" />
    </type>
    <!--Website access plugins-->
    <type name="Magento\Store\Model\ResourceModel\Store\Collection">
        <plugin name="ldv_advancedpermissions_website_view" type="Ldv\AdvancedPermissions\Plugin\Website\WebsiteViewPlugin" />
    </type>
    <!--Store view plugins-->
    <type name="Magento\Store\Model\ResourceModel\Store\Collection">
        <plugin name="ldv_advancedpermissions_store_view" type="Ldv\AdvancedPermissions\Plugin\Store\StoreViewPlugin" />
    </type>
    <type name="Magento\Backend\Block\Store\Switcher">
        <plugin name="ldv_advancedpermissions_store_switcher" type="Ldv\AdvancedPermissions\Plugin\Store\StoreSwitcherPlugin" />
    </type>
    <type name="Magento\Store\Model\ResourceModel\Website\Grid\Collection">
        <plugin name="ldv_advancedpermissions_admin_store_view_grid" type="Ldv\AdvancedPermissions\Plugin\Store\StoreAdminGridPlugin" />
    </type>
    <!--Order plugins-->
    <type name="Magento\Store\Model\System\Store">
        <plugin name="ldv_advancedpermissions_store" type="Ldv\AdvancedPermissions\Plugin\Store\StorePlugin" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Collection">
        <plugin name="ldv_advancedpermissions_store_dashboard_collection" type="Ldv\AdvancedPermissions\Plugin\Store\StoreDashboardPlugin" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="ldv_advancedpermissions_order_collection_grid" type="Ldv\AdvancedPermissions\Plugin\Order\OrderGridPlugin" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid\Collection">
        <plugin name="ldv_advancedpermissions_order_invoice_collection_grid" type="Ldv\AdvancedPermissions\Plugin\Order\OrderInvoiceGridPlugin" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection">
        <plugin name="ldv_advancedpermissions_order_shipment_collection_grid" type="Ldv\AdvancedPermissions\Plugin\Order\OrderShipmentGridPlugin" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo\Grid\Collection">
        <plugin name="ldv_advancedpermissions_order_creditmemo_collection_grid" type="Ldv\AdvancedPermissions\Plugin\Order\OrderCreditMemoGridPlugin" />
    </type>
    <!-- override dashboard tabs -->
    <type name="Magento\Backend\Block\Dashboard\Tab\Customers\Newest">
        <plugin name="ldv_advancedpermissions_backend_dashboard_grid_customer_newest" type="Ldv\AdvancedPermissions\Plugin\Dashboard\TabCustomersNewestPlugin" />
    </type>
    <type name="Magento\Reports\Model\ResourceModel\Product\Collection">
        <plugin name="ldv_advancedpermissions_product_reports_collection_load" type="Ldv\AdvancedPermissions\Plugin\Product\ReportsCollectionLoadPlugin" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Report\Bestsellers\Collection">
        <plugin name="ldv_advancedpermissions_sales_report_bestsell_collection_load" type="Ldv\AdvancedPermissions\Plugin\Sales\ReportBestsellersCollectionPlugin" />
    </type>

    <type name="Magento\Store\Model\StoreManagerInterface">
        <plugin name="ldv_advancedpermissions_after_get_websites" type="Ldv\AdvancedPermissions\Plugin\Store\Model\StoreManagerPlugin" />
    </type>

    <!-- Cms data filters start -->
    <preference for="Magento\Cms\Model\ResourceModel\Page\Grid\Collection" type="Ldv\AdvancedPermissions\Preference\Cms\Page\Grid\CollectionPreference" />
    <preference for="Magento\Cms\Model\ResourceModel\Block\Grid\Collection" type="Ldv\AdvancedPermissions\Preference\Cms\Block\Grid\CollectionPreference" />
    <!-- Cms data filters end -->

    <!-- Dashboard start -->
    <preference for="Magento\Search\Block\Adminhtml\Dashboard\Last" type="Ldv\AdvancedPermissions\Preference\Search\Dashboard\LastPreference" />
    <preference for="Magento\Search\Block\Adminhtml\Dashboard\Top" type="Ldv\AdvancedPermissions\Preference\Search\Dashboard\TopPreference" />
    <type name="Magento\Backend\Block\Dashboard\Orders\Grid">
        <plugin name="ldv_advancedpermissions_around_set_latest_order_collection" type="Ldv\AdvancedPermissions\Plugin\Order\OrderGridPlugin" />
    </type>
    <!--    <type name="Magento\Reports\Model\ResourceModel\Order\Collection">-->
    <!--        <plugin name="ldv_advancedpermissions_after_calculate_sales_collection"-->
    <!-- type="Ldv\AdvancedPermissions\Plugin\Dashboard\SalesDataPlugin" />-->
    <!--    </type>-->
    <!-- Dashboard end -->


    <preference for="Magento\Sales\Model\ResourceModel\Report\Bestsellers\Collection" type="Ldv\AdvancedPermissions\Model\ResourceModel\Report\Bestsellers\Collection" />
    <!-- Price rules plugins -->
    <type name="Magento\CatalogRule\Model\ResourceModel\Rule\Collection">
        <plugin name="ldv_advancedpermissions_catalog_rule_collection_plugin" type="Ldv\AdvancedPermissions\Plugin\PriceRules\CatalogPriceRulesCollectionPlugin" />
    </type>
    <type name="Magento\SalesRule\Model\ResourceModel\Rule\Collection">
        <plugin name="ldv_advancedpermissions_cart_rule_collection_plugin" type="Ldv\AdvancedPermissions\Plugin\PriceRules\CartPriceRulesCollectionPlugin" />
    </type>
    <!-- Price rules plugins end -->
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="ldv_advancedpermissions_around_dispatch_check" type="Ldv\AdvancedPermissions\Plugin\App\Action\AroundDispatch" />
    </type>
</config>
